@import '../../../sass/setup/variables';
@import '../../../../node_modules/gw-ui/dist/sass/mixins';


.site-footer {
	background-color: $light-grey;
	padding: $mobile-margin 0;
	.footer-title {
		color: $main-color;
	}
	.footer-letter {
		color: $black;
		margin-left: -0.25rem;
		margin-right: .5rem;
		text-align:center;
		width: 24px;
	}
	a {
		color: $black;
		display: block;
		padding-bottom: 0;
		&:hover {
			color: $main-color;
		}
	}
}