@import '../setup/variables';

p a,
.p a {
	color: $main-color;
	border-bottom: none;
	&:hover {
		// border-bottom: 1px solid $main-color;
	}
}

.bg-light-blue {
	background-color: $light-blue;
}
.bg-blue {
	background-color: $text-color;
	color: $white;
}

.bg-grey {
	background-color: $light-grey;
}

.bg-white {
	background-color: $white;
}

.bg-plum {
	background-color: plum;
}

.black-text {
	color: $black;
}

.orange-text {
	color: $main-color;
}

.white-text {
	color: $white;
}