@import '../../../sass/setup/variables';



.large-text-block {
	&.card {
		background-color: $white;
		padding: $space-4;
		
		&.orange {
			color: $main-color;
			border: 3px solid $main-color;
			box-shadow: 10px 10px $main-color;
		}

		&.blue {
			color: $text-color;
			border: 3px solid $text-color;
			box-shadow: 10px 10px $text-color;
		}
		
	}
	p {
		max-width: 40rem;
	}
}