@font-face {
  font-family: 'Walsheim';
  src:  url('../../assets/fonts/GTWalsheimProMedium.woff') format('woff'),
        url('../../assets/fonts/GTWalsheimProMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Walsheim';
  src:  url('../../assets/fonts/GTWalsheimProBlack.woff') format('woff'),
        url('../../assets/fonts/GTWalsheimProBlack.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src:  url('../../assets/fonts/icons/material-icons-regular.woff') format('woff'),
        url('../../assets/fonts/icons/material-icons-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}