@import '../../../sass/setup/variables';
@import 'gw-ui/dist/sass/mixins';

$unfold-speed : .7s;

@keyframes neon {
	0%, 35%, 50%, 100% {
		opacity: .5;
	}
	30%, 47%, 52%, 70% {
		opacity: 1;
	}
}

@keyframes glow {
	0%, 35%, 50%, 100% {
		opacity: 0;
	}
	30%, 47%, 52%, 70% {
		opacity: 1;
	}
}

.home-view {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	bottom: 0;
	.neon-wrap {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 6;
		pointer-events: none;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: contain;
			object-position: center;
			&.glow {
				z-index: 1;
				animation: glow 3s linear infinite;
			}
			&.neon {
				z-index: 2;
				animation: neon 3s linear infinite;
			}
		}
	}
	.lipstick {
		position: absolute;
		bottom: -20vw;
		width: 33%;
		transition: transform $md-speed $ease;
		opacity: 0;
		animation: fade-in 1s 1.5s $ease forwards;
		img {
			width: 100%;
		}
		&:hover {
			transform: scale(1.05) rotate(-4deg);
		}
		&.ls-1 {
			left: -5%;
			width: 32%;
			bottom: -14vw;
			z-index: 1;
		}
		&.ls-2 {
			left: 20%;
			width: 34%;
			bottom: -18vw;
			z-index: 2;
		}
		&.ls-3 {
			left: 45%;
			z-index: 3;
		}
		&.ls-4 { 
			left: 70%;
			bottom: -8vw;
			z-index: 4;
		}
	}
}

img {
	display: block;
}

.page-view {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1) rotate(-2deg);
	transition: opacity $md-speed $unfold-speed * 1.1 $ease, visibility $md-speed $unfold-speed * 1.1 $ease, transform $unfold-speed $unfold-speed * .8 $ease;
	&.open {
		opacity: 1;
		visibility: visible;
		transform: none;
		transition: opacity $md-speed $ease, visibility $md-speed $ease, transform $unfold-speed $ease;
		.view-bg {
			.walls {
				.left img { 
					transform: rotateY(70deg) scale(.75, 1);
					transition: transform $unfold-speed $ease;
				}
				.right img { 
					transform: rotateY(-70deg) scale(.75, 1);
					transition: transform $unfold-speed $ease;
				}
			}
			.ceiling,
			.floor {
				transform: none;
				transition: transform $unfold-speed .4s $ease;
			}
		}
		.view-title,
		.close-x {
			transform: none;
			opacity: 1;
			transition: transform $unfold-speed $unfold-speed $ease;
		}
		.view-content .element-1 {
			transform: none;
			opacity: 1;
			transition: transform $unfold-speed ($unfold-speed * 1.5) $ease, opacity $unfold-speed ($unfold-speed * 1.5) $ease;
		}
		.view-content .element-2 {
			transform: none;
			opacity: 1;
			transition: transform $unfold-speed ($unfold-speed * 1.75) $ease, opacity $unfold-speed ($unfold-speed * 1.75) $ease;
		}
		.view-content .element-3 {
			transform: none;
			opacity: 1;
			transition: transform $unfold-speed ($unfold-speed * 2) $ease, opacity $unfold-speed ($unfold-speed * 2) $ease;
		}
		.view-content .element-4 {
			transform: none;
			opacity: 1;
			transition: transform $unfold-speed ($unfold-speed * 2.25) $ease, opacity $unfold-speed ($unfold-speed * 2.25) $ease;
		}
	}
	.view-title {
		position: absolute;
		top: 0;
		left: 5%;
		right: 5%;
		z-index: 3;
		text-align: center;
		transform: translate3d(0, -100%, 0) scale(1.1);
		transition: transform $unfold-speed $ease;
		img {
			vertical-align: top;
			// max-width: 70%;
			max-height: 23vh;
		}
	}
	.view-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		width: 110%;
		margin-left: -5%;
		@include respond-smaller-than($xlg) {
			width: 140%;
			margin-left: -20%;
		}
		.walls {
			width: 100%;
			transform-style: preserve-3d;
			perspective: 200px;
			display: flex;
			position: relative;
			z-index: -1;
			@include respond($xlg) {
				perspective: 58vw;
			}
			img {
				display: block;
				width: 100%;
			}
			.left {
				flex-grow: 1;
				transform-style: preserve-3d;
				@include respond-smaller-than($xlg) {
					width: 50%;
				}
				img {
					transition: transform $unfold-speed .4s $ease;
					height: 100%;
					opacity: 1;
					float: right;
					transform-origin: 100% 50%;
					transform: rotateY(179deg);
					@include respond($xlg) {
						max-height: 597px;
					}
				}
			}
			.center {
				width: 50%;
				flex-grow: 0;
				flex-shrink: 0;
				margin: 0 -2px;
				@include respond($xlg) {
					width: 39%;
					max-width: 700px;
				}
			}
			.right {
				flex-grow: 1;
				transform-style: preserve-3d;
				@include respond-smaller-than($xlg) {
					width: 50%;
				}
				img {
					transition: transform $slow-speed .4s $ease;
					height: 100%;
					opacity: 1;
					float: left;
					transform-origin: 0% 50%;
					transform: rotateY(-179deg);
					@include respond($xlg) {
						max-height: 597px;
					}
				}
			}
		}
		.ceiling {
			position: absolute;
			z-index: -3;
			left: 0;
			right: 0;
			top: 0;
			bottom: 50%;
			transition: transform $unfold-speed $ease;
			transform: translate3d(0, -100%, 0);
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center top;
			}
		}
		.floor {
			position: absolute;
			z-index: -3;
			left: 0;
			right: 0;
			top: 50%;
			bottom: 0;
			transition: transform $unfold-speed $ease;
			transform: translate3d(0, 100%, 0);
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center bottom;
			}
		}
	}
	.view-content {}
	.close-x {
		position: absolute;
		bottom: 5%;
		right: 10%;
		z-index: 6;
		transform: translate3d(0, 400%, 0) scale(.7);
		transition: transform $unfold-speed $ease;
		img {
			display: block;
		}
		@include respond-smaller-than($md) {
			width: 70px;
		}
		.x {
			position: relative;
			z-index: 3;
		}
		.shadow {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
		}
	}
	.view-content {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		* {
			pointer-events: all;
		}
		.center-content {
			text-align: center;
			padding: 7%;
			position: absolute;
			top: 100px;
			bottom: 100px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.element-1,
		.element-2,
		.element-3,
		.element-4 {
			opacity: 0;
			transform: translate3d(0, 3rem, 0);
			transition: transform $md-speed $ease, opacity $md-speed $ease;
		}
	}
	&.about {
		.close-x {
			bottom: 0;
			@include respond($xlg) {
				right: 30%;
			}
		}
		.text {
			color: #ebe5da;
			p {
				margin-left: auto;
				margin-right: auto;
				font-size: .8rem;
				font-size: 3.25vw;
				line-height: 1.2em;
				max-width: 17em;
				text-transform: inherit;
				margin: 1em auto;
				@include respond($xlg) {
					max-width: 17em;
					font-size: 2vw;
					margin: 1em auto;
				}
				@include respond($huge) {
					font-size: 2rem;
				}
				&.list-title,
				&.list-divider {
					text-transform: inherit;
					font-size: 3.25vw * 2;
					margin-top: 0;
					@include respond($xlg) {
						font-size: 2vw * 2;
					}
					@include respond($huge) {
						font-size: 2rem * 2;
					}
				}
				&.list-divider {
					line-height: .4em;
					margin-top: -.2em;
				}
			}
		}
		.box {
			position: absolute;
	    bottom: -3%;
	    width: 62%;
	    max-width: 400px;
	    left: -20%;
			@include respond($md) {
				width: 30%;
				left: 1rem;
			}
			img {
				width: 100%;
			}
		}
	}
	&.contact {
		.close-x {
			bottom: 0;
			right: 30%;
			@include respond($xlg) {
				right: 30%;
			}
		}
		.view-title {
			img {
				max-height: 20vh;
			}
		}
		form {
			width: 80%;
			margin: 0 auto;
			max-width: 500px;
			@include respond($md) {
				width: 70%;
			}
			@include respond($xlg) {
				width: 42%;
			}
		}
	}
	&.buy {
		.close-x {
			bottom: 0;
		}
		.view-title {
			img {
				max-height: 29vh;
			}
		}
		.center-content > div {
			width: 100%;
			max-width: 800px;
		}
		.text {
			color: #e84079;
			font-size: 2.5rem;
			line-height: 1.5em;
			text-align: left;
			display: inline-block;
			position: relative;
			text-align: center;
			padding: 4em 0;
			margin-bottom: -8rem;
			@include respond($md) {
				text-align: left;
				font-size: 3rem;
				padding: 5em 0;
				margin-bottom: 0;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 2em;
		    right: -1.5em;
		    bottom: 1.5em;
		    left: -2.5em;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('../../../assets/images/buy-text-bg.png');
				z-index: 0;
				@include respond($md) {
					top: 2em;
			    right: -1.5em;
			    bottom: 1.5em;
			    left: -2em;
				}
			}
			p {
				max-width: 10em;
				font-size: .8em;
				position: relative;
				z-index: 1;
			}
		}
		.logo {
			position: relative;
			z-index: 2;
			display: block;
			width: 60%;
			margin: 0 auto;
			transition: transform $md-speed $ease;
			@include respond($lg) {
				width: 75%;
			}
			@include respond($xlg) {
				width: auto;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.floor {
			&:after {
				content: '';
				display: block;
				height: 30%;
				position: absolute;
				pointer-events: none;
				background-image: url('../../../assets/images/buy-shadow.png');
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: contain;
				z-index: 2;
				bottom: 0;
				left: 0;
				right: 40%;
			}
		}
	}
	&.poppy {
		.close-x {
			right: 26%;
			bottom: 4%;
		}
		.view-title {
			@include respond-smaller-than($md) {
				top: 4%;
			}
			img {
				max-height: 32vh;
			}
		}
		.view-content {
			.text {
				p {
					margin-left: auto;
					margin-right: auto;
					font-size: 4vw;
					line-height: 1.3em;
					max-width: 13em;
					text-transform: inherit;
					margin: $space-2 auto;
					@include respond($md) {
						max-width: 18em;
						font-size: 3vw;
					}
					@include respond($xlg) {
						max-width: 20em;
						font-size: 2.1vw;
					}
					@include respond($huge) {
						font-size: 2.2rem;
					}
				}
			}
			.poppy-figure {
				position: absolute;
				bottom: 5%;
				left: 0%;
				width: 25%;
				max-width: 150px;
				
				@include respond($xlg) {
					left: 4%;
					bottom: 5%;
					width: 20%;
					max-width: 250px;
				}
				@include respond($huge) {
					left: 5%;
					max-width: 300px;
				}
				img {
					width: 100%;
				}
			}
		}
	}
}